button {
    font-size: 14px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: none;
    background-color: var(--button-background);
    font-weight: bold; 
    box-shadow: 
        0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);

    &:hover {
        animation: expand-button 0.3s forwards;
    }
}

#tagesprogramm-table {
    margin: 2rem 0 1rem 0;
}


#scroll-progress {
    position: sticky;
    height: 5px;
    background-color: var(--scroll);
    transition: width 0.2s ease-in-out;
    z-index: 100;
}
